html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: blue 20px 10px 50px;
}

/* #container {
    max-width: 50em;
    background-color: lightblue;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-right"
                            "canvas canvas canvas"
                            " btm-left btm-middle btm-right";
}

#top-left, #top-right, #btm-left, #btm-middle, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left {
    grid-area: top-left;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: canvas;
}

#btm-left {
    grid-area: btm-left;
}

#btm-middle {
    grid-area: btm-middle;
}

#btm-right {
    grid-area: btm-right;
} */